<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/loginmodule/signup/"  method="post">
        {% csrf_token %}
        UserName : <input type="text" name="username"><br>
        First name : <input type="text" name="first_name"><br>
        Last name : <input type="text" name="last_name"><br>
        Email : <input type="email" name="email_id"><br>
        Password : <input type="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>